<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{url_for('static' , filename='styles.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardiac Image Segmentation Tool</title>
</head>
<body>
    <p id="heading">You have choosen the perfect place to Auto-Segment your Cardiac MRI Images </p>
    <br>
    <div>
    <form action="http://localhost:5000/upload" enctype="multipart/form-data" method="POST">
        <input class="input" type="file" value="Choose Image" name="file">
        <input class="boxsub" type="submit" onclick="prediction()" enctype="multipart/form-data" method="POST">
    </form>
    </div>
    <center><div class="box">

    </div>
    

</body>
</html>